<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        .flip-list-move {
           transition: transform 1s;
        }
        li {
            list-style: none;
            cursor: pointer;
        }
        li::before {
            content: '☰';
            color: gray;
            display: inline-block;
            margin-right: 0.5rem;
        }
    </style>
</head>
<body>

<main id="app">
    <button @click="shuffle">Mélanger</button>
    <button @click="sort_notes">Trier les notes</button>

    <draggable v-model="participants" @start="drag=true" @end="drag=false">
        <transition-group name="flip-list" tag="ul">
            <li v-for="(participant, index) in participants" :key="participant">
                <input type="text" v-model="participant.name">
                <input type="number" min="8" max="9.9" step="0.1" size="3" v-model="participant.note">
                <button @click="remove(participant)">❌</button>
            </li>
        </transition-group>
    </draggable>

    <form @submit.prevent="addParticipant">
        <input type="text" v-model="newParticipant" ref="newParticipant" v-focus placeholder="Nouveau participant ...">
        <input type="number" min="8" max="9.9" step="0.1" size="3" v-model="newParticipantNote" placeholder="Note ?">
        <button type="submit">+ Ajouter</button>
    </form>
</main>
    
<script src="lib/lodash-4.17.15.min.js"></script>
<script src="lib/vue-2.6.10.min.js"></script>
<script src="lib/Sortable.min.js"></script>
<script src="lib/vuedraggable.umd.min.js"></script>
<script>
    const vm = new Vue({
        el : '#app',
        components : {
            'draggable' : vuedraggable
        },
        data() {
            return {
                newParticipant : '',
                newParticipantNote : null,
                participants : []
            }
        },
        methods : {
            shuffle() {
                this.participants = _.shuffle(this.participants);
                saveParticipantsToStorage(this.participants);
            },
            remove(participant) {
                this.participants = this.participants.filter(p => p !== participant);
                saveParticipantsToStorage(this.participants);
            },
            addParticipant() {
                if (this.newParticipant.trim() === '')
                    return;

                const participant = {
                    name : this.newParticipant,
                };

                if (this.newParticipantNote && this.newParticipantNote >= 8 && this.newParticipantNote <= 9.9) {
                    participant.note = this.newParticipantNote;
                }

                this.participants.push(participant);

                // Reset
                this.newParticipant = '';
                saveParticipantsToStorage(this.participants);
                this.$refs.newParticipant.focus();
            },
            sort_notes() {
                this.participants = this.participants.sort((a, b) => b.note - a.note);
            }
        },
        created() {
            this.participants = getParticipantsFromStorage();
        },
        watch : {
            participants : {
                handler : function (newVal, oldVal) {
                    saveParticipantsToStorage(this.participants);
                },
                deep : true
            }
        },
        directives: {
            focus: {
                // directive definition
                inserted: function (el) {
                    el.focus()
                }
            }
        }
    })

    function getParticipantsFromStorage() {
        return JSON.parse(window.localStorage.getItem('trickz:participants')) || [];
    }

    function saveParticipantsToStorage(participants) {
        window.localStorage.setItem('trickz:participants', JSON.stringify(participants));
    }
    
</script>
    
</body>
</html>